*{
    padding: 0;
    margin: 0;
    --main-color: #323441;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    color: var(--main-color);
    background-color: white;
    border-radius: .5rem;
    border: none;
    transition: 0.2s ease-in-out;
    font-size: 1.5rem;
}
button:hover{
    color: white;
    border: 0.001rem solid white;
    background-color: var(--main-color);
    }

.mainHeader,.listItem{
    color: white;
    background: var(--main-color);
}


.mainHeader{
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 2.5rem;
    place-items: center;
}
.add{
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    
}


.list{
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(500px ,1fr));
}
.listItem{
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.listItem>.Btns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
